

<% if @list.avatar.attached? %>
    <%= image_tag(url_for(@list.avatar))%>
<% end %>
<h1><%= @list.title %></h1>
<%= button_to "Edit", edit_list_path(@list), params: {id: @list.id }, :method => "get" %>
<% if !@list.movies.empty? %>
    <% @list.movies.each do |movie|%>
        <%= link_to image_tag(movie.properties["Poster"]), movie_path(movie.properties["imdbID"]) %>
    <% end %>
<% else %>
    <h3>This List Has No Movies</h3><br>
    <%= link_to "Add One!", movies_path %>
<% end %>

<%= button_to "Back to Profile", user_path(current_user), method: "get" %>
<%= button_to "All Lists", lists_path, method: "get" %>

