<div class="container">
    <h1 class="mb-4"><%= @review.movie.properties["Title"] %></h1>
    
    <div class="top-comment-page">
        <div class="review-info">
            <h4>Review</h4>
            <p> <%= @review.content %> </p>
            <p> by: <%= link_to @review.user.username, user_path(id: @review.user.id) %> </p>
        </div>

        <div class="form pt-4">
            <h4>Add Comment</h4>
            <%= form_tag add_comment_path, method: :post do %>
                <%= text_area_tag :content, nil, {class: "form-control"} %><br>

                <%= submit_tag "Submit", class: "btn btn-primary" %>
                <%= hidden_field_tag(:review_id, @review.id) %>
            <% end %>
        </div>
    </div>
        
    
    <div class="comments">
        <h4 class="mb-4">Comments</h4>
        <% if @review.comments.length != 0 %>
            <% @review.comments.each do |comment| %>
                <% if comment.content %>
                    <div class="comment-content">
                        <p><%= link_to comment.user.username, user_path(id: comment.user.id) %></p>
                        <p><%= comment.content %></p>
                    </div>
                <% end %>
            <% end %>
        <% end %>
    </div>
   

    
</div>